<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php81" path="*php" verb="*" modules="CgiModule" scriptProcessor="C:\PHP\php-8.1.21\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
